
// Debug Hide
$debug_hide: block;

// Overwrite CMS changes
$overwrite-cms: true !default;

// K2 Colors
$k2-purple:#272d43;
$k2-blue:#00b5c8;
$k2-green:#81af41;
$k2-grey:#5d5d5d;
$k2-light-grey:#f2f3f2;
$header-nav-link-bg: #4a4f61;
$header-nav-link-bg-active: #577242;

//Typography

//Fonts
$avenir-ultra: "AvenirNextLTW01-UltraLi";
$avenir-regular: "AvenirNextLTW01-Regular";
$avenir-bold: "Avenir Next LT W01 Bold";
$bulmer-smallcaps: "Bulmer MT W01 SC";
$bulmer-italic: "Bulmer MT W01 Italic";


// Sizes
$p-size-normal: 14px;
$p-line-height-normal: 18px;
$downloadImageHeight: 327px;
$downloadImageWidth: 294px;

// Media Query Sizes

$desktopSizeOne: 1200px; /* 'Large Device' Bootstrap Breakpoint */
$desktopSizeTwo: 992px; /* 'Medium Device' Bootstrap Breakpoint */
$tabletSize: 768px; 
$mobileSize: 525px;
$mobileSizeTwo: 399px;

// Typography Extend
%t-paragraph {
    font-size:$p-size-normal;
    line-height: $p-line-height-normal;
}

%t-heading-bulmer {
    font-size:30px;
    @include add-important(font-family, $bulmer-italic);

    @include tablet {
        font-size:40px;
    }
}


%t-heding-avenir-bold {
    @include add-important(font-family, $avenir-bold);
    font-size:20px;
    font-weight:normal;
    text-transform:uppercase;
    margin:40px 0px;
     @include tablet {
        font-size:24px;
    }
}





// CTA's
%button {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-top:20px;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
        -webkit-user-select: none;
        transition:all 0.2s ease;
    &--rounded{
    	border-radius:2px;

    }
    &--green {
        background-color: $k2-green;
        &:hover {
        	background-color: $k2-blue;
        }
        &-outline{
            border:1px solid $k2-green;
            color:$k2-purple;
            &:hover {
                background-color: $k2-green;
                color:white !important;
            }
        }
    }
    &--blue {
        background-color: $k2-blue;
        &:hover {
        	background-color: $k2-green;
        }
        &-outline{
        	border:1px solid $k2-blue;
        	color:$k2-blue;
        	&:hover {
        		background-color: $k2-blue;
        		color:white !important;
        	}
        }
    }
    &--purple {
        background-color: $k2-purple;
        &:hover {
        	background-color: $k2-blue;
        }
        &-outline{
        	border:1px solid $k2-blue;
        	&:hover {
        		background-color: $k2-blue;
        	}
        }
    }
    &--white {
        background-color: $k2-purple;
        &:hover {
        	background-color: $k2-blue;
        }
        &-outline{
        	border:1px solid white;
        	color:white;
        	&:hover {
        		background-color: white;
        		color:$k2-purple !important;
        	}
        }
    }
    &--bold {
        font-weight: bold;
    }
    &:hover {
       
       // CMS over
        @if $overwrite-cms {
           color:white !important;
        } @else {
            color:white;
        }
    }
}

%cta-underline {
	font-weight:bold;
    display:inline-block;
    position:relative;
    margin:20px 0px;
    &:after {
        content: '';
        height: 1px;
        width: 60%;
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -30%;
        transition:all .3s ease;

    }
    &:hover {
        &:after {
             width: 100%;
             margin-left: -50%;
        }
    }
}


%cta-arrow {
    position:relative;
    cursor:pointer;
    text-transform: uppercase;
        margin-left: -13px;
    &:after {
        content: '';
        position: absolute;
        right: -13px;
        transition: all 0.2s ease;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 6px solid $k2-blue;
        margin-top: 3px;
    }
    &:hover {
        &:after {
            right:-16px;
        }
    }
}

.three-column-layout {
	width:100%;
    @include tablet {
        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
    }
    &__single {
        @include tablet {
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1;
            margin:auto;
        }
    }
    &:after {
        @include tablet {
            content: '';
            width: 100%;
            display: inline-block;
            font-size: 0;
            line-height: 0;
        }
    }

}


%g-main-stage {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


%simple-slice {
    padding: 40px 0px;
    border-top: 5px solid white;
    text-align: center;
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
    }
    &__title {
        margin: 10px 0px;
    }
    &__description {
        @extend %t-paragraph;
        color: white;
    }
        br {
        display:none;
       @include tablet {
        display:auto;
       }
    }
}



%background-purple {
	background-color: $k2-purple;
}
%background-blue {
	background-color: $k2-blue;
}
%background-green {
	background-color: $k2-green;
}
%background-white {
	background-color: #ffffff;
}



%color-purple {
	color: $k2-purple;
}
%color-blue {
	color: $k2-blue;
}
%color-green {
	color: $k2-green;
}

%color-grey {
	color:$k2-grey;
}

%color-white {
	color: #ffffff;
}





