html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;

    .flowFormWrapper {
        margin: 30px auto !important; 
    } 
}

body {
    @media screen and (max-width: 399px) {
        position: relative !important;
        width: 100% !important;
        max-width: 399px !important;
    } 

    @media screen and (max-width: 375px) {
        position: relative !important;
        max-width: 375px !important;
    }      
}    

.ng-cloack {
    opacity: 0;
}

.pinned-header {
    padding-top: 0px !important;
}

.pinned-header .wrapper-header {
    position: fixed;
}

a {
    color: $k2-green; 
}
.no-touch a:hover, a:hover {
    color: $k2-green;
}
.row {
    max-width: 940px;
}

body header {
    background-color: transparent;
}

.wrapper {
    max-width: 940px;
    min-height: 20%;
    @include row(30px);
}

.wrapper-two {
    max-width: 940px;
    min-height: 60%;
    @include row(30px);
}

.wrapper-three {
    max-width: 940px;
    min-height: 50%;
    position: relative;

    @include row(30px);
}

.wrapper-header {
    background-color: rgba(255, 255, 255, 0.96);
    width: 100%;
    z-index: 100;
    height: 73px;
    top: 0px;
}

.right-fixed-buttons {
    display:none;
}


.header {
    max-width: 940px;
    height: 75px;
    @include container-fixed();
    &__logo {
        width: 63px;
        height: 80px;
        float: left;
        margin-top: 20px;
        display: $debug_hide;
    }
    &__best-nav-ever {
        @include tablet {
            float: left;
            margin-top: 15px;
            margin-left: 20px;
        }

    }
    &__cta-contact {
        @extend %button;
        @extend %button--blue-outline;
        @extend %button--rounded;
        font-weight: bold;
    padding: 8px 10px;
    font-size: 14px;
    margin-top: 28px;
    float: left;
    margin-left:10px;
    
        @include tablet {
            margin-left: 0px !important;
        }
    }
    &__cta-see-it-live {
        @extend %button;
        @extend %button--blue-outline;
        @extend %button--rounded;
        font-weight: bold;
        padding: 8px 18px;
        font-size: 14px;
        margin-top: 28px;
        margin-left: 20px;
    }
    &__utility {
        display:none;
        @include tablet {
                float: right;
                display: block;
                margin-top: 5px;
                position: absolute;
                right: 20px;
                top: 0px;
                width: 176px;
        }
        @include desktop {
            display: block;
            /* float: none; */
            margin-top: 0px;
            /* position: absolute; */
            /* right: -63px; */
            top: 37px;
            //background: rebeccapurple;
            width: 154px;
            position: relative;
            margin-right: -90px;
        }
    }


    &__login {
        font-size:10px;
        color:$k2-blue;
        float:left;
        font-weight: bold;
        height: 50px;
        display:block;
    }
    &__search {
        float:left;
        margin-left:20px;
        height: 50px;
        display:block;
    }
    //display:none;
}
@include desktop {
_:-webkit-full-screen:not(:root:root), .header__utility{ margin-right:-120px !important; } 
}
.push-for-menu {
    padding-top: 72px;
}

.menu-icon-pointer {
    cursor: pointer;
}


.mobile-menu-up {
    overflow: hidden;
/*     .bne {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display:none;
        right:0%;
        transition:right 0.5s ease;
    } */
    .open-up {
        display: block !important;
    }
    #menu-close {
        display: block;
        position: absolute;
        right: 20px;
        width: 27px;
        top: 20px;
        cursor:pointer;
    }
}
#menu-close {
    display:none;
}

.bne {
    .top-utility__button--contact {
        display: none;
        @extend %button;
        @extend %button--blue;
    }
    @include mobilelast {
        background-color: $k2-purple;
        line-height: 1.3em;
        color: white;
        position: fixed;
        top: 0px;
        bottom: 0px;
        
        right: -100%;
        z-index: 100;
        width: 80%;
        padding-left: 30px;
        margin-left: 20px;
        padding-left: 20px;
        float: left;
        transition:right 0.5s ease;
        a {
            color: white;
            display: block;
            font-size: 14px;
        }
        li {
            list-style: none;
            list-style-type: none;
        }
        > ul > li > a {
            padding: 10px 0px;
            @include add-important(font-family, $avenir-bold);

            @media (max-width: 770px) and (min-width: 0px) {
                padding: 0px 0px 20px;  
            }    
        }
        ul.sub-menu {
            //display: none;
            margin-left: 0px;
            > li {
                border-left: 1px solid white;
                display: block;
                margin-left: 2px;
                padding: 3px 0px 3px 15px;
            }
        }
        ul.sub-sub-menu {
            display: none;
            li {
                a {
                    color: $k2-blue;
                    padding: 2px 0px 2px 6px;
                }
            }
        }
        .top-utility {
            display:block;
            margin-bottom:0px;
            li:first-child {
                padding-bottom:20px;
                border-bottom:1px solid white;
            }
            &__button--contact {
                display: inline-block;
            }
             .mobile-login {
                color:$k2-blue;
                display:inline-block;
                margin-top: 10px;
            }
        }

    }
    @include tablet {
        > ul { 
            position: relative;
            @if $overwrite-cms {
                margin-left: 0px;
            }
            // First Level
            > li {
                display: inline-block;
                padding: 20px 10px;
                float: left;
                position: relative;
                a {
                    font-weight: bold;
                    color: $k2-purple;
                    font-size: 15px;
                    &:focus + ul {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                    &:hover {
                        color: $k2-purple;
                    }
                }
                > a:not(.last) {
                    &:after {
                        content: '';
                        width: 2px;
                        height: 13px;
                        position: absolute;
                        right: -5px;
                        background-color: $k2-purple;
                        margin-top: 3px;
                    }
                }
                &:focus {
                    background-color: $k2-purple;
                    ul.sub-menu {
                        display: block;
                    }
                }
                &:hover {
                    & > span {
                        border-bottom: 1px solid $k2-blue;
                    }
                    > a {
                        padding-bottom: 5px;
                        border-bottom: 3px solid $k2-blue;
                    }
                }
                &:hover > ul.sub-menu {
                    // display: block;
                    opacity: 1;
                    transition: all 0.1s ease;
                    visibility: visible;
                    li:nth-child(1) a:not([href]) {
                        &:after {
                            opacity: 1;
                            right: 10px;
                        }
                    }
                    li:nth-child(2) a:not([href]) {
                        &:after {
                            right: 10px;
                            transition-delay: 0.05s;
                            opacity: 1;
                        }
                    }
                    li:nth-child(3) a:not([href]) {
                        &:after {
                            right: 10px;
                            transition-delay: 0.10s;
                            opacity: 1;
                        }
                    }
                    li:nth-child(4) a:not([href]) {
                        &:after {
                            right: 10px;
                            transition-delay: 0.15s;
                            opacity: 1;
                        }
                    }
                    li:nth-child(5) a:not([href]) {
                        &:after {
                            right: 10px;
                            transition-delay: 0.15s;
                            opacity: 1;
                        }
                    }
                    li:nth-child(6) a:not([href]) {
                        &:after {
                            right: 10px;
                            transition-delay: 0.15s;
                            opacity: 1;
                        }
                    }
                }
                span {}
                // Subm Menu
                ul.sub-menu {
                    position: absolute;
                    width: 250px;
                    //display: none;
                    background-color: white;
                    background-color: white(0.96);
                    filter: alpha(opacity=96);
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
                    list-style: none;
                    list-style-type: none;
                    top: 58px;
                    left: 0px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s ease;
                    padding-bottom: 20px;
                    z-index: 100;
                    @if $overwrite-cms {
                        margin-left: 0px;
                    }
                    li {
                        width: 100%;
                        padding: 5px;
                        a:not([href]) {
                            cursor:default;
                            &:after {
                                content: '';
                                position: absolute;
                                right: 20px;
                                transition: right 0.4s ease;
                                width: 0;
                                height: 0;
                                border-top: 5px solid transparent;
                                border-bottom: 5px solid transparent;
                                border-left: 6px solid $k2-blue;
                                margin-top: 5px;
                                opacity: 0;
                            }
                        }
                        a {
                            font-size: 14px;
                            padding: 4px 20px;
                            display: inline-block;
                            color: #14b6c9;
                            font-weight: normal;
                        }
                        //Last Level
                        &:hover {
                            background-color: $k2-green;
                            > a {
                                color: white !important;
                            }
                            ul.sub-sub-menu {
                                opacity: 1;
                                transition: all 0.1s ease;
                                visibility: visible;
                            }
                            a:not([href]) {
                                &:after {
                                    border-left: 6px solid white;
                                }
                            }
                        }
                        ul.sub-sub-menu {
                            position: absolute;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.1s ease;
                            width: 200px;
                            left: 250px;
                            top: 0px;
                            bottom: 0px;
                            list-style: none;
                            list-style-type: none;
                            background-color: $k2-green;
                            @if $overwrite-cms {
                                margin-left: 0px;
                            }
                            li {
                                background-color: $k2-green;
                                cursor: pointer;
                                display: block;
                                a {
                                    cursor: pointer;
                                    cursor: hand;
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    margin-left: 15px;
                                    padding-bottom: 2px;
                                    color: white;
                                    font-weight: normal;
                                    border-bottom: 2px solid $k2-green;
                                    transition: border-bottom 0.1s ease;
                                    &:hover {
                                        border-bottom: 2px solid white;
                                        cursor: pointer;
                                        cursor: hand;
                                    }
                                }
                            }
                            &:hover li {
                                display: block;
                            }
                        }
                    }
                }
                a {}
            }
        }
        &__sub-menu {
            position: absolute;
            width: 200px;
            background-color: white;
            display: block;
            list-style: none;
            list-style-type: none;
            top: 100px;
            @if $overwrite-cms {
                margin-left: 0px;
            }
            &--last {
                position: absolute;
                width: 200px;
                left: 200px;
                top: 0px;
            }
        }
        &__sub-menu-item {
            //background-color:red; 
        }
    } 
    li span.top-title {
        color:white;
           display: block;
        padding:10px 0px 3px 5px;
            text-decoration: underline;
            font-size:14px;
        @include desktop {
        color:white;
        font-size:14px;
        font-family:$avenir-bold !important;
        text-transform: uppercase;
        padding:10px 0px 0px 14px;
       
        }
      
    }
}

.no-pointer {
    cursor:default !important;
}
html body .access-support2 {
    @include desktop {
    text-align: center;
    background-color:white;
    color:$k2-green !important;
    padding:5px !important;
    display:block !important;
    width:90% !important;
      font-family:$avenir-bold !important;
  }
}
html body .access-support2.access-support2.access-support2.access-support2.access-support2:hover {
   @include desktop {
    color:$k2-green !important;
     background-color:white;
     border-bottom:0px;
 }
}
.wtf {
    @include desktop {
    background-color:$k2-green;
    }
}
#menu-icon {
    display:none;
        @include mobilelast{
        float: right;
        position: absolute;
        right: 12px;
        top: 25px;
        cursor:pointer;
        display:block;
    }
}

.bne > ul > li {
    @include tablet {
        padding: 20px 4px;
    }
    @include desktop {
        padding: 20px 10px;
    }
}
.mobile-login , .top-utility {
    display:none;
}

.header__cta-contact,
.header__cta-see-it-live {
     padding: 7px 9px;
        font-size: 12px;
    @include tablet {
        padding: 7px 9px;
        font-size: 12px;
    }
    @include desktop {
        font-weight: bold;
        padding: 8px 18px;
        font-size: 14px;
        margin-top: 28px;
        float: left;
        margin-left: 20px;
    }
}

%a-not-href {
    @include mobilelast {
        a:not([href]) {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: 6px;
                transition: right 0.4s ease;
                width: 0;
                height: 0;
                border-top: 6px solid white;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                margin-top: 5px;
                z-index: 20;
            }
        }
    }
}

ul.sub-menu--what-is-k2 {
    @extend %a-not-href;
    @extend .sub-menu;
    @include tablet {
        width: 250px;
        min-height:200px
    }
    ul.sub-sub-menu {
        @extend .sub-sub-menu;
        left: 250px;
    }
}

ul.sub-menu--how-people-use-k2 {
    @extend %a-not-href;
    @extend .sub-menu;
    @include tablet {
        width: 200px;
        min-height:230px
    }
    li ul.sub-sub-menu {
        @extend .sub-sub-menu;
        left: 200px;
    }
}

ul.sub-menu--resources {
    @extend %a-not-href;
    @extend .sub-menu;
    @include tablet {
        width: 250px;
        min-height:270px
    }
    li ul.sub-sub-menu {
        @extend .sub-sub-menu;
        width: 250px !important;
        left: 250px;
    }
}

.tabs {
    background-color: $k2-green;
    @include tablet {
        margin-top: -40px;
        background-color: transparent;
    }
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
        &.extend {
            @include make-xs-column(12);
            @include make-xs-column-offset(0);
        }
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 20px solid #81af41;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        @include tablet {
            display: none;
        }
    }
    ul {
        float: left;
        padding-top: 20px;
        width: 100%;
        @include tablet {
            padding-top: 0px;
        }
        li {
            display: block;
            width: 100%;
            text-align: center;
            @include tablet {
                padding-right: 12px;
                float: left;
                width: auto;
                text-align: left;
            }
            a {
                width: 100%;
                padding: 8px 20px;
                color: $k2-purple;
                display: inline-block;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                @include tablet {
                    padding: 13px 20px;
                    width: auto;
                    font-size: 12px;
                    background-color: white(.6);
                    transition: all .5s ease;
                }
                @include desktop {
                    padding: 13px 36px;
                }
                &:hover {
                    color: white;
                    @include tablet {
                        color: $k2-green;
                        background-color: white(.8);
                    }
                }
            }
            &.active {
                a {
                    color: white;
                    @include tablet {
                        background-color: white;
                        color: $k2-green;
                    }
                }
            }
        }
    }
}

.iphone-widget {
    display:none;
    @include tablet{
        display:block;
   
        z-index: 22;
        padding: 20px;
        background-color: $k2-blue;
        width: 300px;
        text-transform: uppercase;
        position: fixed;
        bottom: -3px;
        right: 100px;
        &__phone-icon {
            float: left;
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -11px;
            width: 20px;
        }
        &__description {
            font-size: 14px;
            float: left;
            color: white;
            font-family: $avenir-bold;
            position: absolute;
            top: 50%;
            left: 40px;
            margin-top: -8px;
            span {
                color: $k2-purple;
            }
        }
        &__close {
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -10px;
            width: 10px;
            cursor: pointer;
        }
     }
     &.Off {
        display:none;
     }
}

.iphone-widget.closed {
    display: block;
}
.sprite {
    background: transparent url("http://www.k2.com/img/k2comv5/sprite_022614.png") 0 0 no-repeat;
    display: inline-block;
    background-size: 343px,163px;
}
footer {
    nav ul li, nav ul.nav-bar li {
        margin:auto;
    }
    .right li{
            margin: 0 15px 0 0;
    }

}

.no-touch footer a:hover {
    color: $k2-green !important;
}

#form_formcontrol_DemoRequest_2_6_2015 .row {
    max-width:100%;
}

/* Web Marquee Section Styling */

body {
    .it-marquee {
        background: url("../img/it-header-@2x.jpg") center no-repeat;

        @media screen and (max-width: $tabletSize) {
            background: url("../img/greenBackgroundCover.jpg") center no-repeat;
        }    
    }

    .purchasing-marquee {
        background: url("../img/purchasing-header-@2x.jpg") center no-repeat;        

        @media screen and (max-width: $tabletSize) {
            background: url("../img/blueBackgroundCover.jpg") center no-repeat;
        }           
    }

    .hr-marquee {
        background: url("../img/hr-header-@2x.jpg") center no-repeat;         

        @media screen and (max-width: $tabletSize) {
            background: url("../img/greenBackgroundCover.jpg") center no-repeat;
        }         
    }

    .finance-marquee {
        background: url("../img/finance-header-@2x.jpg") center no-repeat;

        @media screen and (max-width: $tabletSize) {
            background: url("../img/blueBackgroundCover.jpg") center no-repeat;
        }          
    }

    .operations-marquee {
        background: url("../img/operations-header-@2x.jpg") center no-repeat;        

        @media screen and (max-width: $tabletSize) {
            background: url("../img/greenBackgroundCover.jpg") center no-repeat;
        }         
    }

    .sales-marketing-marquee {
        background: url("../img/sales-marketing-header-@2x.jpg") center no-repeat;        

        @media screen and (max-width: $tabletSize) {
            background: url("../img/blueBackgroundCover.jpg") center no-repeat;
        }          
    }

    .mobileGreenBackground {

        @media screen and (max-width: $desktopSizeTwo) {
            height: 388px;
            width: 100%;
            background-color: $header-nav-link-bg-active;            
        }             
    }

    .marquee {
        height: 388px;
        width: 100%;
        background-size: cover;
        position: relative;
        margin-top: -1px;

        @media screen and (max-width: $tabletSize) {
            height: 250px;        
        }   

        @media screen and (max-width: $mobileSize) {
            height: 210px;        
        }   

        &__subsection-text {
            color: #FFF;
            text-transform: uppercase;
            font-family: $avenir-bold;
            font-size: 25pt;
            line-height: 28pt;
               
            white-space: nowrap;
            height: 388px;

            @media screen and (max-width: $desktopSizeTwo) {
                left: 2%;
                position: relative;
            }    

            @media screen and (max-width: 900px) {
                left: 1%
            }  
            @media screen and (max-width: 840px) {
                font-size: 24px;
                line-height: 27px;
            }                              
            @media screen and (max-width: $tabletSize) {
                height: 250px;
                padding-left:20px;
                left: 0
            }   

            @media screen and (max-width: $mobileSize) {
                height: 200px;        
            }   

            
            &:before {
              content: '';
              display: inline-block;
              height: 100%;
              vertical-align: middle;
              margin-right: -0.25em; /* Adjusts for spacing */
            }
            .centered {
                  display: inline-block;
                  vertical-align: middle;
                  
                  .spanOne {
                    display:block;
                    width: 360px !important;
                    white-space: normal;
                    text-align: left;

                    @media screen and (max-width: $desktopSizeTwo) {
                        width: 350px;
                    }    
                    @media screen and (max-width: $tabletSize) {
                        width: 325px;
                    }   
                    @media screen and (max-width: $mobileSize) {
                        width: 290px;
                    }   
                  }
            }

            @media screen and (max-width: $tabletSize) {
                font-size: 15pt;
                line-height: 18pt;
            }  
        }  
    }

    .marquee-text-vertical-fiveLines {
        top: 50%;
        transform: translateY(58%);

        @media screen and (max-width: $desktopSizeTwo) {
            margin-left: 11%;            
            display: block;
            transform: translateY(60%);
        }

        @media screen and (max-width: $tabletSize) {
            transform: translateY(110%);
            margin-left: 60px; 
        }          

        @media screen and (max-width: $mobileSize) {
            transform: translateY(40%);
            margin-top: 40px;
            margin-left: 30px;
            width: 285px;
        }
        @media screen and (max-width: $mobileSizeTwo) and (orientation : landscape) {
            margin-top: 150px;
            transform: translateY(180%);            
        }  
        @media screen and (max-width: $mobileSizeTwo) and (orientation : portrait) {
            transform: translateY(155%);
            margin-left: 20px;
            margin-top: 60px;
        }            
    }

    .marquee-text-vertical-fourLines {
        top: 50%;
        transform: translateY(90%);

        @media screen and (max-width: $desktopSizeTwo) {
            margin-left: 11%;           
            display: block;
        }  

        @media screen and (max-width: $tabletSize) {
            transform: translateY(105%);
            margin-left: 60px; 
        }          

        @media screen and (max-width: $mobileSize) {
            transform: translateY(35%);
            margin-top: 40px;
            margin-left: 30px; 
            width: 285px;
        }  
        @media screen and (max-width: $mobileSizeTwo) and (orientation : landscape) {
            margin-top: 150px;
            transform: translateY(180%);            
        } 
        @media screen and (max-width: $mobileSizeTwo) and (orientation : portrait) {
            transform: translateY(10%);
            margin-left: 20px;
            margin-top: 60px;
        }  
    }

    .marquee-text-vertical-threeLines {
        top: 50%;
        transform: translateY(130%);

        @media screen and (max-width: $desktopSizeTwo) {
            margin-left: 11%;
            display: block;
        }  

        @media screen and (max-width: $tabletSize) {
            transform: translateY(190%);
            margin-left: 60px; 
        }          

        @media screen and (max-width: $mobileSize) {
            transform: translateY(90%);
            margin-top: 40px;
            margin-left: 30px; 
            width: 285px;
        }    
        @media screen and (max-width: $mobileSizeTwo) and (orientation : landscape) {
            margin-top: 150px;
            transform: translateY(180%);
        } 
        @media screen and (max-width: $mobileSizeTwo) and (orientation : portrait) {
            transform: translateY(65%);
            margin-left: 20px;
            margin-top: 60px;
        }  
    }

    .logoWrapper {
        // margin-bottom: -77px;

        &__k2Logo {
            display: block;
            text-align: center;
            margin: 0 auto;
            height: 76px;
            position: relative;
            top: -240px;
            left: -5px;

            @media screen and (max-width: $tabletSize) {
                display: none;
            }   
        }  
    }

/* Iframe section styling */    

.iframeWrapper {
    margin: 40px auto; 
    width: 985px;
    overflow: hidden;

    iframe {

/*         @media screen and (max-width: 399px) {   
            // autoscroll: none; 
        }     */
    }    

    @media screen and (max-width: $desktopSizeTwo) {
        margin: 30px auto 10px; 
        width: 980px;        
    }
        
    @media screen and (max-width: $tabletSize) {
        margin: 100px auto -80px;
    }    
    @media screen and (max-width: 573px) {
        margin: 100px auto -40px;           
    }
    @media screen and (max-width: 561px) {
        margin: 100px auto -40px;           
    } 
    @media screen and (max-width: 477px) {
        margin: 100px auto -40px;           
    } 
    @media screen and (max-width: 462px) {
        margin: 100px auto -40px;           
    } 
/*     @media screen and (max-width: 399px) {             
        // pointer-events: none; 
    }   */  

    &__class {
        height: 570px;
        width: 101%;
        position: relative;
        left: 8px;

        @media screen and (max-width: 1006px) {
            height: 670px;
            left: 4px;
        }
        @media screen and (max-width: $desktopSizeTwo) {
            height: 730px;
            width: 80%;
        }         
        @media screen and (max-width: $tabletSize) {
            height: 860px;   
            width: 55%;
        } 
        @media screen and (max-width: 545px) {
            height: 860px; 
            width: 50%;         
        }    
        @media screen and (max-width: 545px) {
            height: 950px; 
            width: 42%;
        } 
        @media screen and (max-width: 425px) {
            height: 1020px; 
            width: 36%;
        }   
        @media screen and (max-width: 399px) {
            height: 1080px; 
            width: 32%;
        }                    
    }
}

/* Form Section Styling */    

    .form {
        width: 100%;
        overflow: visible;

        @media screen and (max-width: $desktopSizeTwo) {
            padding-top: 60px;        
        }   

        &__formContainer {
            margin: 50px auto;
            animation: fade-in 1s ease;
        }

        &__placeholderImgOne {
            position: relative;
            display: block;
            float: left;
            height: 390px;

            @media screen and (max-width: $desktopSizeOne) {
                height: 370px;
            }
            @media screen and (max-width: $desktopSizeTwo) {
                top: 50%;
                float: none;
                margin: 0 auto 35px;
            }
            @media screen and (max-width: $tabletSize) {
                height: 325px;
            }
            @media screen and (max-width: $tabletSize) {
                margin-top: 110px !important;
            }
            @media screen and (max-width: $mobileSize) {
                height: 275px;
                left: 20px;
            }     
        }

        &__placeholderImgTwo {
            position: relative;
            display: block;
            height: 390px;

            @media screen and (max-width: $desktopSizeOne) {
                height: 370px;         
            }
            @media screen and (max-width: $desktopSizeTwo) {
                height: 350px;
                margin: 0 auto;                
            }
            @media screen and (max-width: $tabletSize) {
                height: 325px;
            }
            @media screen and (max-width: $mobileSize) {
                height: 275px;
            }  
        }
    }

/* Microsite Section Styling */

.mainPageWrapper {
    margin: 10px auto 5px;
    padding: 0 20px 0 0;
    position: relative;

    @media screen and (max-width: 992px) {
        padding: 0 20px; 
    }    

    @media screen and (max-width: 856px) {
        margin: 10px auto;
    }   

    @media screen and (max-width: $tabletSize) {
        margin: 80px auto 5px;
    } 
}

.micrositeWrapper {
    font-family: 'Open Sans', sans-serif;
    margin: -50px auto 5px !important;
    width: 90%;
    position: relative !important;

    @media screen and (max-width: $tabletSize) {
        margin: 0px auto !important;
    }   

    @media screen and (max-width: $tabletSize) {
        margin: 30px auto !important;
    }   

    &__mainTitle {
        color: rgb(39, 45, 67);
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__subTitle {
        color: rgb(0, 181, 200);
        font-size: 18px;
        text-transform: uppercase;        
        font-weight: bold;

        @media screen and (max-width: $mobileSize) {
            font-size: 17px;
        }    
    }

    &__paragraphText {
        font-size: 14px;

        @media screen and (max-width: 399px) {
            width: 285px;
        }    
    }

    &__contentWrapper {
        background-color: #f2f3f2;
        width: 620px !important;
        float: left;
    }

    .contentWrapper {
        width: 620px !important;
        float: left;
    }
}

.introWrapper {

    margin: -60px auto 10px;

    @media screen and (max-width: $desktopSizeTwo) {
        margin: -50px auto 0;
    } 

    @media screen and (max-width: $tabletSize) {
        margin: 10px auto;
    }       
}

#vidyard_span_yR4LIa3nsLYxaWmgBBSJ8g {
    text-align: center !important;

    @media screen and (max-width: $tabletSize) {
        width: 420px !important;
        height: 270px !important;
    }

    @media screen and (max-width: $mobileSize) {
        width: 320px !important;
        height: 240px !important;
    }        
}

.introVideoWrapper { 
    font-family: 'Open Sans', sans-serif;
    margin: 30px auto !important;
    width: 100%;
    position: relative;
    left: -2px;

    @media screen and (max-width: $tabletSize) {
        margin: -40px auto 30px !important;
    }    

    &__mainTitle {
        color: rgb(39, 45, 67);
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__subTitle {
        // color: rgb(0, 181, 200);
        color: red;
        font-size: 18px;
        text-transform: uppercase;        
        font-weight: bold;
    }

    &__paragraphText {
        font-size: 14px;

        @media screen and (max-width: 399px) {
            width: 290px;
        }    
    }

    &__contentWrapper {
        background-color: #f2f3f2;
        width: 620px !important;
        float: left;
    }

    &__enterpriseSoftwareList {
        margin-left: 16px;

        @media screen and (max-width: $tabletSize) {
            margin-left: 16px;        
        }    
    }

    .contentWrapper {
        width: 620px !important;
        float: left;
    }
}

.videoWrapper { 
    font-family: 'Open Sans', sans-serif;
    margin: -50px auto 30px !important;
    width: 100%;
    position: relative;
    left: -2px;

    @media screen and (max-width: $tabletSize) {
        margin: -40px auto 30px !important;
    }    

    &__mainTitle {
        color: rgb(39, 45, 67);
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__subTitle {
        // color: rgb(0, 181, 200);
        color: red;
        font-size: 18px;
        text-transform: uppercase;        
        font-weight: bold;
    }

    &__paragraphText {
        font-size: 14px;

        @media screen and (max-width: 399px) {
            width: 290px;
        }    
    }

    &__contentWrapper {
        background-color: #f2f3f2;
        width: 620px !important;
        float: left;
    }

    &__enterpriseSoftwareList {
        margin-left: 16px;

        @media screen and (max-width: $tabletSize) {
            margin-left: 16px;        
        }    
    }

    .contentWrapper {
        width: 620px !important;
        float: left;
    }
}

.buttonWrapper {
    background-color: #f2f3f2;
    width: 293px;
    height: 159px;
    float: right;
    position: relative;
    margin-top: 15px;    
}

 .videoBtn {
    background-color: #272d43;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
    border: none;
    padding: 10px 30px;
    width: 210px;
    color: #FFFFFF;
    
    &:hover {
        background-color: #81af41;
    }
}  

 .videoBtnTwo {
    background-color: #272d43;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
    border: none;
    padding: 17px 5px 5px 16px;
    width: 240px;
    color: #FFFFFF;
    display: none;
    height: 50px;
    
    &:hover {
        background-color: #81af41;
    }    
}  

.processesContent {
    width: 50%;
    display: inline-block;
    float: left;

    @media screen and (max-width: $desktopSizeTwo) {
        display: block;
        margin: 0 auto;
        padding: 0 20px 0 0;
    }   

    @media screen and (max-width: 882px) {
        margin: 0 auto;
    }   

    @media screen and (max-width: $tabletSize) { 
        width: 100%;
        display: block;
    }        

    @media screen and (max-width: 600px) {
        width: 440px;
    } 
    @media screen and (max-width: 525px) {   
        width: 340px;
    }    
}

.processesButton {
    display: inline-block;
    padding: 12px 18px 16px 18px !important;
    position: absolute !important;
    top: 0 !important;

    @media screen and (max-width: 1105px) {
        bottom: 0;
        margin-left: 0; 
        margin: 0 auto 50px;
    } 

    @media screen and (max-width: 1000px) {
        position: relative;
        right: 0;
    }
    
    @media screen and (max-width: $desktopSizeTwo) {
        position: relative !important;
        margin: 10px auto 20px;
        width: 35%;
    } 

    @media screen and (max-width: 900px) {
        width: 40%;
    }   

    @media screen and (max-width: 800px) {
        width: 45%;
    }     

    @media screen and (max-width: $tabletSize) {
        width: 47%;
    } 

    @media screen and (max-width: 700px) {
        width: 50%;
    } 

    @media screen and (max-width: 399px) {  
        width: 230px;
        position: relative !important;
        left: -20px !important;
    }    
}

.processesButtonVideo {
    display: inline-block;
    margin-left: 60px;
    padding: 12px 18px 16px 18px !important;
    position: absolute;
    top: 0;
    width: 130px;

    @media screen and (max-width: 1105px) {
        bottom: 0;
        margin-left: 0; 
    } 

    @media screen and (max-width: 992px) {    
        position: relative;
        width: 100%;
        text-align: center;
    }    

    @media screen and (max-width: 399px) {  
        width: 230px;
    }    
}

#ball_inJSNgHggkO3HKOaA0yww {
    margin-top:-7px;
    margin-bottom:-13px;
    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    padding-left:0; 
    width: 100%;

    @media screen and (max-width: 872px) {  
        position: relative;
        left: -5px;
    } 

    @media screen and (max-width: 772px) {  
        position: relative;
        left: -5px;
    } 

    @media screen and (max-width: 662px) {  
        position: relative;
        left: -15px;
    } 
    @media screen and (max-width: 602px) {  
        position: relative;
        left: -25px;
    } 
    @media screen and (max-width: 502px) {  
        position: relative;
        left: -35px;
    }               
}

.processesButtonVideo {

    @media screen and (max-width: 883px) { 
        width: 100%;
    }    
}

#ball_ivyiPnnSWSUzwkJzaApXjA {
    background-color: #f2f3f2;
    width: 280px !important;  
    padding: 10px !important;      

    input {
        // background-color: #f0f0f0;
        color: rgb(39, 45, 67) !important;
        width: 258px !important;
    }   
}

#ball_iecdqOFLR06wVY0P4KSLCw {
    position: relative;
    left: 10px;
}

#ball_iapIz4cN9GUaiUCBo8zMCEA {
    position: relative;
    bottom: 4px;
}

#ball_i78kv1OOju0yNoix7jCDtMQ {
    width: 240px;
}

/* Download Section Styling */

    /* Angular Hide Effect */

    .hideOnLoad {
        display: none;       
    }

    .activeIframe {
        display: none;
        animation: fade-in 1s ease;
    }

    .thirdFigure {
        display: none;
    }

    /* iFrame Animation */

        @-webkit-keyframes fade-in {
          0% {
            opacity:0;
          }
          100% {
            opacity: 1;
          }
        }

        /* Standard syntax */
        @keyframes fade-in {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        .fade-in {
          animation: fade-in 1s ease;
        }


    .download {
        width: 100%;
        background-color: #f2f3f2;
        position: relative;
        padding: 60px 0 120px 0;  

        @media screen and (max-width: 399px) {
            overflow-x: hidden !important;
        }    

        &__thirdItemCover {
            height: 440px;
            width: 550px;
            background-color: red;
            position: absolute;
            top: 0;
            right: 0;

            @media screen and (max-width: 1035px) {
                width: 500px;
            }    
            @media screen and (max-width: 949px) {
                width: 350px;
            }   
            @media screen and (max-width: 899px) {
                width: 300px;
            }   
            @media screen and (max-width: 849px) {
                width: 250px;
            }               
        }

        &__wrapper {
            @media screen and (max-width: 399px) {
                overflow-x: hidden !important;
            }                  
        }

        &__row {
            margin: 60px 0;
        }

        &__downloadVerticalCentering {
            position: relative; 
            overflow: visible;          
        }

        &__image {
            background-size: cover;
            height: $downloadImageHeight;
            width: $downloadImageWidth;
            margin-bottom: 50px;
            @include make-xs-column(12, 30);     
            @include make-sm-column(6, 30);
            @include make-md-column(4, 30);

            animation: fade-in 1s ease;

            @media screen and (max-width: 399px) {
                overflow-x: hidden !important;
            }    
        }

        &__backgroundCover {
            @media screen and (max-width: $desktopSizeTwo) {
                width: 294px !important;
            }
        }

        .premiumIcon::before {
            content: '';
            background: url("../img/premiumIcon.png") center no-repeat;
            background-size: cover;
            position: absolute;
            top: -171px;
            left: 0;
            z-index: 3;
            height: 60px;
            width: 60px;

/*             @media screen and (max-width: $desktopSizeTwo) {
                left: 88px;
            }
            @media screen and (max-width: $tabletSize) {
                left: 88px;
            } */
        }

        &__imageSize {
            height: $downloadImageHeight;
            width: $downloadImageWidth;

            @media screen and (max-width: $desktopSizeTwo) {
                margin: 0 auto;
            }
        }    

        &__backgroundCover {
            position: absolute;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.86);
            width: 93.85%;
            height: 156px;
        }

        &__title {
            font-size: 13pt;
            line-height: 20pt;
            font-family: $avenir-regular !important;
            font-weight: bold;
            text-align: center; 
        }

        .processEfficientTitle,
        .whitePaperTitle {
            position: relative;
            top: 5px;
        }

        .infographicTitle {
            position: relative;
            top: -5px;
        }

        &__button {
            color: #FFF;
            width: 225px;
            height: 42px;
            font-size: 10pt;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            background-color: #00b5c8;
            font-family: $avenir-regular;
            position: absolute;
            bottom: 20px;
            left: 35px;
            padding-top: 15px;

            &:hover {
                background-color: #81af41;
            }
        }        

        .processEfficiency {
            background: url("../img/processEfficiency.jpg") center no-repeat;
            background-size: cover;
        }

        .hrWorkflows {
            background: url("../img/hrWorkflows.jpg") center no-repeat;
            background-size: cover;
        }

        .topProcesses {
            background: url("../img/topProcesses.jpg") center no-repeat;
            background-size: cover;            
        }
        .introVideo {
            background: url("../img/video-k2-intro@2x.jpg") center no-repeat;
            background-size: cover;            
        } 
        .runningProcesses {
            background: url("../img/white-paper-running-processes@2x.jpg") center no-repeat;
            background-size: cover;            
        }
        .sembCorp {
            background: url("../img/casestudy-sembcorp@2x.jpg") center no-repeat;
            background-size: cover;            
        }  
        .helloApps {
            background: url("../img/white-paper-hello-apps@2x.jpg") center no-repeat;
            background-size: cover;            
        }  
        .designingWorkflows {
            background: url("../img/demo-designing-workflows@2x.jpg") center no-repeat;
            background-size: cover;            
        } 
        .designingForms {
            background: url("../img/demo-designing-forms@2x.jpg") center no-repeat;
            background-size: cover;            
        } 
        .expenseClaims {
            background: url("../img/video-expense-claim@2x.jpg") center no-repeat;
            background-size: cover;            
        } 
        .webRoot {
            background: url("../img/casestudy-webroot@2x.jpg") center no-repeat;
            background-size: cover;            
        }  
        .itInfographic {
            background: url("../img/infographic-it@2x.jpg") center no-repeat;
            background-size: cover;            
        } 



        
        .salesMarketingInfographic {
            background: url("../img/infographic-sales-marketing@2x.jpg") center no-repeat;
            background-size: cover;            
        }     
        .hrInfographic {
            background: url("../img/infographic-hr@2x.jpg") center no-repeat;
            background-size: cover;            
        }  
        .purchasingInfographic {
            background: url("../img/infographic-purchasing@2x.png") center no-repeat;
            background-size: cover;            
        } 
        .operationsInfographic {
            background: url("../img/infographic-operations@2x.jpg") center no-repeat;
            background-size: cover;            
        }    
        .salesMarketingInfographic {
            background: url("../img/infographic-sales-marketing@2x.jpg") center no-repeat;
            background-size: cover;            
        }  
        .financeInfographic {
            background: url("../img/infographic-finance@2x.jpg") center no-repeat;
            background-size: cover;            
        }           
        .metroPacific {
            background: url("../img/casestudy-metro-pacific@2x.jpg") center no-repeat;
            background-size: cover;            
        }     
        .kinRoss {
            background: url("../img/casestudy-kinross@2x.jpg") center no-repeat;
            background-size: cover;            
        } 
        .rocheDiagnostics {
            background: url("../img/casestudy-roche@2x.jpg") center no-repeat;
            background-size: cover;            
        } 
        .southwestBank {
            background: url("../img/casestudy-southwest-bank@2x.jpg") center no-repeat;
            background-size: cover;            
        } 

    }

    .hrWorkflows {
        background: url("../img/hrWorkflows.jpg") center no-repeat;
    }

    .topProcesses {
        background: url("../img/topProcesses.jpg") center no-repeat;
    }
}    

/* Icomoon Font Icon */

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?ov4pyt');
    src:    url('../fonts/icomoon.eot?ov4pyt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ov4pyt') format('truetype'),
        url('../fonts/icomoon.woff?ov4pyt') format('woff'),
        url('../fonts/icomoon.svg?ov4pyt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
    content: "\e900";
}
.icon-youtube:before {
    content: "\e901";
}
.icon-linkedin:before {
    content: "\e902";
}
.icon-facebook2:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-facebook:before {
    content: "\e600";
}

.spanTwo {
    display:block;
    width:360px;
    white-space: normal;

    @media screen and (max-width: $desktopSizeTwo) {
        width: 350px;
    }    
    @media screen and (max-width: $tabletSize) {
        width: 325px;
    }   
    @media screen and (max-width: $mobileSize) {
        width: 290px;
    }   
}

#ball_iYQ8OtkqODEmbf7hFv4krw {
    width: 690px !important;

    @media screen and (max-width: $tabletSize) {
        width: 600px;
    }   
    @media screen and (max-width: 699px) {
        width: 500px;
    } 
    @media screen and (max-width: 599px) {
        width: 400px;
    }    
    @media screen and (max-width: $mobileSize) {
        width: 290px;
    }   
}

@media only screen and (max-device-width: 399px)  {
    iframe {
        overflow: scroll !important;
        width: 100%;
        height: 100%;
        border: none;
    }

    .iframeWrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }    
}

.vidyard_iframe {
    width: 640px !important;
    height: 360px !important;

    @media screen and (max-width: 900px) {
        width: 480px !important;
        height: 270px !important;
        top: 40px !important;
        right: 80px !important;
    }
    @media screen and (max-width: $tabletSize) {
        top: 80px !important;
    }  
    @media screen and (max-width: 599px) {      
        top: 110px !important;
        right: 160px !important;
    } 
    @media screen and (max-width: 525px) {      
        right: 205px !important;
    }  
    @media screen and (max-width: 525px) {      
        right: 230px !important;
    }  
    @media screen and (max-width: 449px) {      
        right: 240px !important;
    } 
    @media screen and (max-width: 429px) {      
        right: 255px !important;
    } 
    @media screen and (max-width: 415px) {      
        right: 265px !important;
    }   
    @media screen and (max-width: 399px) {      
        top: 130px !important;
        right: 315px !important;
    }                             
}

#vidyard_iframe_Iny7J29x6-tZaxd27ihZsQ {
    top: -8px !important; 

    @media screen and (max-width: 900px) {
        right: 45px !important;
    }
    @media screen and (max-width: 850px) {
        right: 40px !important;
    }
    @media screen and (max-width: 825px) {
        right: 35px !important;
    }  
    @media screen and (max-width: $tabletSize) {
        right: 10px !important;
        top: 0 !important;
    }  
    @media screen and (max-width: 725px) {
        right: 0px !important;
    }         
    @media screen and (max-width: 415px) {
        right: -10px !important;
    }  
    @media screen and (max-width: 399px) {
        right: 20px !important;
        top: 30px !Important;
    }    
}

#vidyard_span_vTM1Lu51Ek3MC-y2ttzwaw {

    @media screen and (max-width: 399px) {  
        width: 350px;
    }    
}

.enterpriseWrapper {
    margin: 30px auto !important;
    height: 1500px;
    max-width: 44%;

    @media screen and (max-width: 1054px) {
        margin: 30px auto !important;
        height: 1400px;
    }
    @media screen and (max-width: $tabletSize) {
        margin: 40px auto 20px !important;
        height: 1550px;
    }
    @media screen and (max-width: 550px) {
        margin: 50px auto 30px !important;
        height: 1680px;
    }  

    #enterpriseIframe {
        height: 1420px;
        width: 107%;
        margin-top: 10px;

        @media screen and (max-width: 1276px) {
            width: 94%;
        } 

        @media screen and (max-width: 1054px) {   
            height: 1480px;
        }    

        @media screen and (max-width: $desktopSizeTwo) {
            margin: 30px auto !important;
            height: 980px;
        }
        @media screen and (max-width: $tabletSize) {
            margin: 40px 0 10px 6px !important;
            height: 1550px;
        }
        @media screen and (max-width: 550px) {
            margin: 50px 0 30px 6px !important;
            height: 1800px;
        }  
    }     
}

#vidyard_iframe_yR4LIa3nsLYxaWmgBBSJ8g {

    @media screen and (max-width: 768px) {
        width: 350px !important;
        height: 197px !important;
        top: 50px !important;
        position: relative !important;
        right: 0 !IMPORTANT;
        left: 0 !important;
    }

    @media screen and (max-width: $mobileSize) {
        width: 300px !important;
        height: 169px !important;
    }    
}

#firstDownload {
    display: block;
}

.micrositeWrapperTwo {
    max-width: 89%;
    max-height: 15%;
    margin: 0 auto;
}

.micrositeWrapperThree {
    max-width: 59%;
    position: relative;
    max-height: 65%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
}

/* #form2409 input,
#form2409 select {
    width: 350px !important;

    @media screen and (max-width: $mobileSize) {
        width: 300px !important;        
    }  
}

#form2409 {

    @media screen and (max-width: $desktopSizeTwo) {
        margin: 0 auto;
        float: none;
        display: block;
        width: 370px;
    }        

    @media screen and (max-width: $mobileSize) {

    }    
}
 */
.sembCorpWrapper {
    margin: -50px auto 20px;

    @media screen and (max-width: $desktopSizeTwo) {
        display: block !important;
        margin: -70px auto 20px;
        padding-left: 20px; 
    }

    @media screen and (max-width: $tabletSize) {
        padding-left: 10px; 
        margin: 20px auto;
    }    

    @media screen and (max-width: $mobileSize) {
        padding-left: 5px; 
    }      
}

.enterpriseSoftwareWrapper {
    margin: 10px auto 0;

    @media screen and (max-width: $desktopSizeTwo) {
        display: block !important;
    }  
    @media screen and (max-width: $mobileSize) {
        margin: 100px auto 40px;
    }      
}

.enterpriseContent {
    float: left;

    @media screen and (max-width: $desktopSizeTwo) {
        float: none;
        margin: 0 auto;
        display: block;
    }   
}

.infographic-list {
    position: relative;
    left: 15px;
}

#ball_iEcb8QU4lkCikmF5kkKQQ {

    @media screen and (max-width: $desktopSizeTwo) {
        margin-left: 20px;
    }    
}

.whitePaperConfirmationTitle {

    @media screen and (max-width: $desktopSizeTwo) {
        font-size: 18px;
    }    

    @media screen and (max-width: $tabletSize) {
        font-size: 16px;
        display: block;
        width: 40%;
        line-height: 24px;
        padding-top: 15px;
    }    

    @media screen and (max-width: $mobileSize) {
        display: block;
        width: 40%;
        padding-top: 12px;
    }      
}

.whitePaperConfirmationSubtext {

    @media screen and (max-width: $desktopSizeTwo) {
        font-size: 14px;
    }    

    @media screen and (max-width: $tabletSize) {
        display: block;
        width: 70%;
        padding-top: 10px;
    }    

    @media screen and (max-width: $mobileSize) {
        display: block;
        width: 50%;
        padding-top: 10px;
    }      
}

.confirmationBreakPoint {
    display: block;

    @media screen and (max-width: $tabletSize) {
        display: none;
    }    
}

#vidyard_span_Iny7J29x6-tZaxd27ihZsQ {
    display: block !important;
    margin: 20px auto 25px !important;
    position: relative !important;
    width: 640px;
    height: 365px;

    @media screen and (max-width: 900px) {
        width: 55% !important; 
        height: 275px !important;
    } 
    @media screen and (max-width: 900px) {
        width: 65% !important; 
    }   
    @media screen and (max-width: $tabletSize) {
        display: block !important;
        margin: 75px auto 30px !important;
        position: relative !important;
        width: 640px;
        height: 280px !important;
    }   
    @media screen and (max-width: 640px) {
        width: 75% !important; 
    } 
    @media screen and (max-width: 599px) {
        width: 70% !important;
        height: 220px !important; 
    } 
    @media screen and (max-width: 499px) {
        width: 85% !important;
    }
    @media screen and (max-width: 399px) {
        width: 85% !important;
        margin: 75px auto 10px !important;
    }        
}

.vidyard_iframe {

    @media screen and (max-width: 599px) {  
        width: 350px !important;
        height: 197px !important;
    }  
    @media screen and (max-width: 399px) {     
        width: 270px !important;
        height: 152px !important;
    }    
}

.eloquaForm {
    margin: 10px auto 60px;
    overflow: auto;
    width: 40%;

    @media screen and (max-width: $tabletSize) {  
        width: 100%;
        margin: 10px auto 20px;
        position: relative;
        left: -22px;
    }

    @media screen and (max-width: $tabletSize) {  
        left: -17px;
    }  
}

.elq-form {
    overflow: auto !important;

}

.eloquaForm-Inner {
    overflow: auto !important;    
}

.formWrapper {

    @media screen and (max-width: $desktopSizeTwo) {  
        padding-bottom: 60px;
    }
}

.caseStudyContent {

    @media screen and (max-width: $desktopSizeTwo) {  
        width: 100% !important;
    }    
}

.submit-button {
    background-color: #272d43;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    font-size: 100%;
    height: 36px !important;
    width: 100px;
    font-weight: bold;

    &:hover {
        background-color: #81af41;
    }
}

.enterpriseSoftwareList {
    margin-left: 16px;

    @media screen and (max-width: $tabletSize) {
        margin-left: 16px;        
    }    
}

.introVideoContent {
    width: 100%;
    display: block;
    margin: 10px auto;

    @media screen and (max-width: $desktopSizeTwo) {  
        padding: 0 40px 0 20px;
    }    
}



