body { 
	position: relative;

	.footer {
		width: 100%;
		height: 94px;
		background: $k2-purple;
		position: absolute;
		text-align: center;

		@media screen and (max-width: $mobileSize) {
			height: 125px;
		}	

		&__menu {
		    color: #FFF;
		    margin: 14px 30px 0 30px;

		    @media screen and (max-width: $tabletSize) {
		    	margin: 25px 10px 0 10px;
		    	line-height: 0.6;
		    }	

			@media screen and (max-width: $mobileSize) {
		    	line-height: 2;				
			}	

			@media screen and (max-width: 452px) {	
				margin-top: 20px;
			}	
		}

		&__menu-item {
			z-index: 2;
			color: #FFF;
			font-family: $avenir-regular;
			display: inline-block;
			padding: 0 7px;
			position: relative;	

			@media screen and (max-width: $tabletSize) {
				font-size: 11pt
			}
			@media screen and (max-width: $tabletSize) {
				font-size: 10pt
			}	

			a {
				color: #FFF;
				font-size: 10pt;
				height: 94px;

				@media screen and (max-width: $tabletSize) {
					font-size: 10pt
				}
				@media screen and (max-width: $tabletSize) {
					font-size: 10pt
				}	

				&:hover {
                	border-bottom: 1px solid #FFF;
                	padding-bottom: 2px;
            	}	

	            .icon {
                	border-bottom: none !important;	            	
	            }	
			}
		}	

		.last-menu-item {
			font-size: 13px !important;

			@media screen and (max-width: 452px) {				
				position: relative;
				top: -15px;
				font-size: 13px !important;
			}	
		}

		&__icon-wrapper {
			position: relative;
			top: 3px;
			left: 5px;
			border-bottom: none !important;

			&:hover {
				border-bottom: none !important;
			}

			.icon {
				padding: 0 2px;	
				font-size: 18px;
				border-bottom: none !important;

				a {
					&:hover {
						border-bottom: none !important;						
					}	
				}

				&:hover {
					color: #81af41;
					border-bottom: none !important;
				}

				@media screen and (max-width: $tabletSize) {
					font-size: 17px;
				}
				@media screen and (max-width: $tabletSize) {
					font-size: 16px;
				}	
			}
			.icon-youtube {
				font-size: 40px;
				position: relative;
				top: 9px;
				border-bottom: none !important;

				@media screen and (max-width: $tabletSize) {
					font-size: 38px;
				}
				@media screen and (max-width: $mobileSize) {
					font-size: 36px;
				}	
			}
		}
	}	
}

.contactWrapper {
    margin: 20px auto !important;
    height: 820px;

    @media screen and (max-width: 1054px) {
        margin: 20px auto !important;
        height: 900px;
    }
    @media screen and (max-width: $tabletSize) {
        margin: 20px auto 20px !important;
        height: 1050px;
    }
    @media screen and (max-width: 550px) {
        margin: 10px auto !important;
        height: 1070px;
    }      

    #enterpriseIframe {
        height: 920px;
        width: 107%;
        margin-top: 10px;

        @media screen and (max-width: 1276px) {
            width: 94%;
        } 

        @media screen and (max-width: 1054px) {   
            height: 980px;
        }    

        @media screen and (max-width: $desktopSizeTwo) {
            margin: 30px auto !important;
            height: 980px;
        }
        @media screen and (max-width: $tabletSize) {
            margin: 40px 0 5px 6px !important;
            height: 1020px;
        }
        @media screen and (max-width: 550px) {
            margin: 20px 0 5px 6px !important;
            height: 1050px;
        }  
    }     
}

body .footer__menu-item a {

	border-bottom: none; 

    &__hover {
        border-bottom: 1px solid #FFF !important;
    }      
}


