
body { 
	.main-header {
		width: 100%;
		height: 55px;
		background: $k2-purple;	
		text-align: center;

		/* DESKTOP MENU */

		&__logoInCorner {
			display: none;
			position: absolute;
		    left: 16px;
		    top: 14px;
		    height: 25px;
		    width: auto;

		    @media screen and (max-width: $tabletSize) {
				display: inline;
        	} 
		}

		&__menu {
			position: relative;
			display: inline-block;
			top: 50%;
			-webkit-transform: translateY(-64%);
			-ms-transform: translateY(-64%);
			transform: translateY(-64%);

			@media screen and (max-width: $tabletSize) {
				display: none;
        	}  
		}

		.close-menu {
			height: 25px;
			width: auto;
		}

		&__menu-item {
			z-index: 2;
			color: #FFF;
			font-family: $avenir-regular;
			display: inline-block;
			padding: 0 1px; 
		}	

		&__nav-link {
			color: #FFF;
			font-size: 10pt;	
			background-color: $header-nav-link-bg;
			display: inline-block;
			height: 55px;
    		width: 151px;
    		padding-top: 17px;
    		margin-right: .5px;
    		font-weight: bold;
    		letter-spacing: 0.5px;

    		&:hover {
    			color: #FFF !important;
    			background-color: #81af41 !important;
    		}

    		@media screen and (max-width: $desktopSizeTwo) {
    			width: 112px;
    		}	
		}

		.last-item {
			position: relative;
    		top: 11px;

    		@media screen and (max-width: $tabletSize) {
    			top: 0;
    		}	
		}

		.last-item-link {
			height: 64px;
		}

		.active-green {
			background-color: $k2-green;				
		}
		.active-blue {
			background-color: $k2-blue;				
		}		

		/* MOBILE HAMBURGER MENU */

		#menu-icon {
	    	display: none;

			@media screen and (max-width: $tabletSize) {
			    float: right;
			    position: absolute;
			    right: 14px;
			    top: 12px;
			    cursor: pointer;
			    display: block !important;
			}	
		}

		.bne {
			
		    background-color: #272d43;
		    line-height: 1.3em;
		    color: white;
		    position: fixed;
		    top: 0px;
		    bottom: 0px;
		    right: -100%;
		    z-index: 100;
		    width: 200px;
		    padding-top: 50px;
		    margin-left: 20px;
		    padding-left: 20px;
		    float: left;
		    transition: right 0.5s ease;
		    margin-top: 0;
		}	

		.bne.open {
			display:block;
			right:0px;
		}

		#menu-close {
			display: none;

			@media screen and (max-width: $tabletSize) {
			    float: right;
			    position: absolute;
			    right: 14px;
			    top: 12px;
			    cursor: pointer;
			    display: block !important;
			}	
		}

		&__mobileMenuItem {

			@media screen and (max-width: $tabletSize) {
				font-family: $avenir-regular !important;
				text-align: left;
			}	
		}
	}	
}

