<section class="marquee it-marquee mobileGreenBackground">
    <div class="wrapper">
        <p class="marquee__subsection-text">
            <span class="centered">
                <span>Automate and simplify IT processes to focus on mission-critical work</span> 
            </span>
        </p>
    </div>
</section>

<div class="logoWrapper">  
    <img src="img/k2-logo2x.png" class="logoWrapper__k2Logo">
</div>

<div class="wrapper">
	<div class="form__formContainer">
		<img src="img/fromTextEfficiency.png" class="form__placeholderImgOne col-lg-7 col-md-12">
		<img src="img/formSignUp.png" class="form__placeholderImgTwo col-lg-5 col-md-12">
	</div>	
</div>

<section class="download">
    <div class="wrapper">
        <div class="download__downloadVerticalCentering">
            <figure class="download__image col-md-4 col-sm-12" ui-sref-active="activeIframe" id="firstDownload">
                <div class="download__imageSize processEfficiency">
                    <div class="download__backgroundCover premiumIcon">
                        <h4 class="download__title processEfficientTitle">
                            HR Process Efficiency<br> for Dummies
                        </h4>
                        <a ui-sref=".efficiency">
                            <div class="download__button">
                                Download Dummies Book
                            </div>
                        </a>
                    </div>
                </div>  
            </figure>

            <figure class="download__image col-md-4 col-sm-12" ui-sref-active="activeIframe">
                <div class="download__imageSize runningProcesses">
                    <div class="download__backgroundCover">
                        <h4 class="download__title whitePaperTitle">
                            Turn Sluggish HR Workflows<br>into Fast, Efficient Workstreams.
                        </h4>
                        <a ui-sref=".workflows">
                            <div class="download__button">
                                Download Whitepaper
                            </div>
                        </a>
                    </div>
                </div>  
            </figure>

            <figure class="download__image col-md-4 col-sm-12" ui-sref-active="activeIframe">
                <div class="download__imageSize introVideo">
                    <div class="download__backgroundCover premiumIcon">
                        <h4 class="download__title infographicTitle">
                            Top 5 Processes every<br>HR Manager should transform<br>in 2016
                        </h4>
                        <a ui-sref=".processes">
                            <div class="download__button">
                                Download Infographic
                            </div>
                        </a>
                    </div>
                </div>  
            </figure>

            <figure class="download__image col-md-4 col-sm-12">
                <div class="download__imageSize processEfficiency">
                    <div class="download__backgroundCover">
                        <h4 class="download__title processEfficientTitle">
                            HR Process Efficiency<br> for Dummies
                        </h4>
                        <a ui-sref=".it">
                            <div class="download__button">
                                Download Dummies Book
                            </div>
                        </a>
                    </div>
                </div>  
            </figure>

            <figure class="download__image col-md-4 col-sm-12">
                <div class="download__imageSize runningProcesses">
                    <div class="download__backgroundCover">
                        <h4 class="download__title whitePaperTitle">
                            Turn Sluggish HR Workflows<br>into Fast, Efficient Workstreams.
                        </h4>
                        <a ui-sref=".workflows">
                            <div class="download__button">
                                Download Whitepaper
                            </div>
                        </a>
                    </div>
                </div>  
            </figure>

            <figure class="download__image col-md-4 col-sm-12">
                <div class="download__imageSize introVideo">
                    <div class="download__backgroundCover">
                        <h4 class="download__title infographicTitle">
                            Top 5 Processes every<br>HR Manager should transform<br>in 2016
                        </h4>
                        <a ui-sref=".processes">
                            <div class="download__button">
                                Download Infographic
                            </div>
                        </a>
                    </div>
                </div>  
            </figure>
        </div>                  
    </div>
</section>