<div class="wrapper micrositeWrapper">

	<div class="microSiteWrapper processesContent">
		<h1 class="micrositeWrapper__mainTitle">Case Study | Kinross Gold</h1>
		<h2 class="micrositeWrapper__subTitle">The Third-Largest Canadian-Based Gold Producer, Kinross, Saves Thousands with K2</h2>
		<p class="micrositeWrapper__paragraphText">Kinross Gold Corporation, Canada’s third-largest gold producer, looked to K2 and Partner Caprivi Solutions for help managing its capital expenditure request process.
</p>
		<p class="micrositeWrapper__paragraphText">With that original challenge solved, it has now deployed K2 business apps to automate a dozen other processes. It doesn’t struggle with manual processes and custom-coded solutions anymore, and users can complete tasks from any mobile device.</p>
		<p class="micrositeWrapper__paragraphText">“With every new application we release, we get more requests from other mines and departments asking if we could do the same for them,” said Chris Fraidakis, program manager at Kinross Gold Corporation.</p>
		<p class="micrositeWrapper__paragraphText">Learn how K2 can help streamline processess for your financial department - and your entire business.</p>
	</div>

	<div class="microSiteWrapper processesButton">
		<button class="videoBtn" ng-click="downloadFile($event)">Download Case Study</button>
		
		<!-- <button class="videoBtn" ng-click="downloadFile($event)">Download Our Case Study</button> -->
	</div>

</div>