<div class="wrapper micrositeWrapper">

	<div class="microSiteWrapper processesContent">
		<h1 class="micrositeWrapper__mainTitle">Case Study | Metro Pacific</h1>
		<h2 class="micrositeWrapper__subTitle">MPIC Uses K2 to Streamline Critical Operations Processes</h2>
		<p class="micrositeWrapper__paragraphText">An infrastructure investment holding company with extensive projects on water, power, toll roads and healthcare services, process efficiency and compliance are of utmost importance to Metro Pacific Investments Corporation (MPIC). However, two of the company's critical processes were paper-based, manually completed, labour-intensive and impeding finance and accounting operations. There were even occasions of misplaced or duplicate applications, leading to slow turnaround time.
</p>
		<p class="micrositeWrapper__paragraphText">K2 has enabled MPIC to streamline the management of its Expense/ Reimbursement and Contract Management processes. The system automatically routes forms and applications to the appropriate approvers based on Cost Centre, providing MPIC staff visibility and tracking, notifications and escalations.</p>
		<p class="micrositeWrapper__paragraphText">MPIC staff members are now able to submit company-related expenses and reimbursements to Finance and Accounting for approval, which were previously done manually through paper, slowing the process and adding to the company clutter. Requests are now managed and approved using a queue number system regardless of company hierarchy to ensure impartiality.</p>
		<p class="micrositeWrapper__paragraphText">Learn how MPIC streamlines operational processes with K2.</p>
	</div>

	<div class="microSiteWrapper processesButton">
		<button class="videoBtn" ng-click="downloadFile($event)">Download Case Study</button>
		
		<!-- <button class="videoBtn" ng-click="downloadFile($event)">Download Our Case Study</button> -->
	</div>

</div>