<div class="wrapper micrositeWrapper">

	<div class="microSiteWrapper processesContent">
		<h1 class="micrositeWrapper__mainTitle">Case Study | Roche Diagnostics</h1>
		<h2 class="micrositeWrapper__subTitle">K2-Based Solutions Cut Process Time From Days to Hours</h2>
		<p class="micrositeWrapper__paragraphText">Roche Diagnostics, a company that develops medicines and diagnostics to help patients live longer and better lives, was dealing with manual processes that resulted in mounds of paperwork, loss of efficiency and poor-quality customer responses.
</p>
		<p class="micrositeWrapper__paragraphText">“Innovation isn’t something which falls from the sky; it is nurtured and there are processes to manage it,” said Jean-Daniel Renevey, regional head of IT.</p>
		<p class="micrositeWrapper__paragraphText">Now, Renevey and his teams have built K2 business applications for everything from simple processes like travel requests and training approvals, to complex, long-running processes, like its 60,000 requests per year for delivery of free-of-charge goods.</p>
		<p class="micrositeWrapper__paragraphText">With more than 20 K2-based solutions providing end-to-end automation, Roche has seen a reduction in cycle time from days to hours. They have standardization across the region and traceability on compliance.
Learn how Roche provides end-to-end automation of 60,000 requests a day.</p>
	</div>

	<div class="microSiteWrapper processesButton">
		<button class="videoBtn" ng-click="downloadFile($event)">Download Case Study</button>
		
		<!-- <button class="videoBtn" ng-click="downloadFile($event)">Download Our Case Study</button> -->
	</div>

</div>