<div class="micrositeWrapper wrapper">
    <div class="microSiteWrapper processesContent">
        <h1 class="micrositeWrapper__mainTitle">ARE YOU RUNNING YOUR PROCESSES OR ARE THEY RUNNING YOU?</h1>
        <h2 class="micrositeWrapper__subTitle">RISE ABOVE YOUR INEFFICIENT PROCESSES AND FUTURE-PROOF YOUR BUSINESS</h2>
        <p class="micrositeWrapper__paragraphText">Misplaced forms, lost connectivity and unsupported mobile access are just a few examples of bottlenecked business processes. You have to rise above these slow, stalled processes in order to join the modern business movement, edge out the competition and increase visibility and productivity.</p>
        <p class="micrositeWrapper__paragraphText">Business process automation (BPA) addresses the above concerns and offers many benefits, but traditional development can be expensive. Instead, low-code business applications that can be customized, and run on any device, offer an efficient alternative. Shown to reduce costs by 15 percent year over year, these automation apps can streamline processes while empowering users, providing insight and reinforcing data-driven decisions.</p>
    </div>

    <!-- Start of Form Data -->

    <div class="processesButton">
        <div id="ball_inJSNgHggkO3HKOaA0yww" class="runningProcessesWrapper ixp-grid-col-md-3 ixp-container">
            <div id="ball_ivyiPnnSWSUzwkJzaApXjA" style="background-color:#f2f3f2;" class="ixp-container">
                <div id="ball_iapIz4cN9GUaiUCBo8zMCEA" class="ixp-text"><strong style="color: rgb(0, 181, 200); line-height: 23.1111px; margin-bottom: 6px;">DOWNLOAD WHITE PAPER</strong>
                </div>
                <div id="ball_i78kv1OOju0yNoix7jCDtMQ" data-ixp-component-root="i78kv1OOju0yNoix7jCDtMQ" class="ixp-component-form ixp-component-form-field-layout-simple ixp-component-form-show-validation ixp-component-form-show-validation-onchange ixp-component-form-not-validated ixp-component-form-not-submitted ixp-component-form-default ixp-component-form-layout-top-labels ixp-component-form-default-validation ixp-component-form-label-validation align-center ixp-c-form-built-in ixp-input-validation-unknown" data-ixp-behavior-scope-owner="i78kv1OOju0yNoix7jCDtMQ">

                    <div id="ball_iDOJbyHz1Y0mzL7Q6bgreA" class="ixp-container">
                        <div id="ball_iafpGlQUR02TZeXiIHSAg" data-ixp-component-root="iafpGlQUR02TZeXiIHSAg" class="ixp-component-form-field ixp-component-form-field-inherit ixp-input-required ixp-component-form-field-starts-with-textbox ixp-component-form-field-ends-with-textbox ixp-input-validation-valid" data-ixp-behavior-scope-owner="iafpGlQUR02TZeXiIHSAg" data-ixp-component-form-field-for="textbox">

                            <div id="ball_it0I45s2fp0mJ347dw5P6Dw" class="ixp-component-form-field-input-container ixp-container">
                                <div id="ball_iLATvYP4RmkK8tsKHNUQw" data-ixp-input-type="textbox" data-ixp-component-root="iLATvYP4RmkK8tsKHNUQw" class="ixp-component-textbox ixp-input ixp-input-validate ixp-component-textbox-inherit ixp-input-required ixp-input-validation-valid" data-ixp-behavior-scope-owner="iLATvYP4RmkK8tsKHNUQw" data-ixp-input-state="{&quot;instanceId&quot;:&quot;iLATvYP4RmkK8tsKHNUQw&quot;,&quot;dataField&quot;:&quot;{\&quot;id\&quot;:1,\&quot;name\&quot;:\&quot;FirstName\&quot;}&quot;,&quot;validation&quot;:&quot;valid&quot;,&quot;required&quot;:true,&quot;value&quot;:&quot;Test&quot;,&quot;hasValue&quot;:true,&quot;requiresSave&quot;:false}" data-ixp-input-data-field="FirstName">
                                    <div class="ixp-component-textbox-input-wrap">
                                        <input id="ixp_input_iLATvYP4RmkK8tsKHNUQw" ng-model="user.firstName" data-ixp-textbox-type="text" type="text" class="ixp-component-textbox-input text-label" maxlength="100" placeholder="* First Name">
                                    </div>
                                    <script type="text/javascript" data-ixp-component-init=""></script>
                                </div>
                            </div>

                            <script type="text/javascript" data-ixp-component-init=""></script>
                        </div>
                        <div id="ball_igMriv9J7ESNRNwkTU8gw" data-ixp-component-root="igMriv9J7ESNRNwkTU8gw" class="ixp-component-form-field ixp-component-form-field-inherit ixp-input-required ixp-component-form-field-starts-with-textbox ixp-component-form-field-ends-with-textbox ixp-input-validation-valid" data-ixp-behavior-scope-owner="igMriv9J7ESNRNwkTU8gw" data-ixp-component-form-field-for="textbox">

                            <div id="ball_i67JFRqU8CEKAKxgCwi1Q" class="ixp-component-form-field-input-container ixp-container">
                                <div id="ball_iPQpljfMqEOXSdoSD26kqw" data-ixp-input-type="textbox" data-ixp-component-root="iPQpljfMqEOXSdoSD26kqw" class="ixp-component-textbox ixp-input ixp-input-validate ixp-component-textbox-inherit ixp-input-required ixp-input-validation-valid" data-ixp-behavior-scope-owner="iPQpljfMqEOXSdoSD26kqw" data-ixp-input-state="{&quot;instanceId&quot;:&quot;iPQpljfMqEOXSdoSD26kqw&quot;,&quot;dataField&quot;:&quot;{\&quot;id\&quot;:2,\&quot;name\&quot;:\&quot;LastName\&quot;}&quot;,&quot;validation&quot;:&quot;valid&quot;,&quot;required&quot;:true,&quot;value&quot;:&quot;Test&quot;,&quot;hasValue&quot;:true,&quot;requiresSave&quot;:false}" data-ixp-input-data-field="LastName">
                                    <div class="ixp-component-textbox-input-wrap">
                                        <input id="ixp_input_iPQpljfMqEOXSdoSD26kqw" data-ixp-textbox-type="text" type="text" class="ixp-component-textbox-input text-label" ng-model="user.lastName" maxlength="100" placeholder="* Last Name">
                                    </div>
                                    <script type="text/javascript" data-ixp-component-init=""></script>
                                </div>
                            </div>

                            <script type="text/javascript" data-ixp-component-init=""></script>

                        </div>
                        <div id="ball_iYJLitkMSrUehBuiPaKH6Zg" data-ixp-component-root="iYJLitkMSrUehBuiPaKH6Zg" class="ixp-component-form-field ixp-component-form-field-inherit ixp-input-required ixp-component-form-field-starts-with-textbox ixp-component-form-field-ends-with-textbox ixp-input-validation-unknown" data-ixp-behavior-scope-owner="iYJLitkMSrUehBuiPaKH6Zg" data-ixp-component-form-field-for="textbox">

                            <div id="ball_ilCuM3ge0dEKV6ieetbMYIg" class="ixp-component-form-field-input-container ixp-container">
                                <div id="ball_iXqKgC8iM7kakOK7UoWZqHA" data-ixp-input-type="textbox" data-ixp-component-root="iXqKgC8iM7kakOK7UoWZqHA" class="ixp-component-textbox ixp-input ixp-input-validate ixp-component-textbox-inherit ixp-input-required ixp-input-validation-unknown" data-ixp-behavior-scope-owner="iXqKgC8iM7kakOK7UoWZqHA" data-ixp-input-state="{&quot;instanceId&quot;:&quot;iXqKgC8iM7kakOK7UoWZqHA&quot;,&quot;dataField&quot;:&quot;{\&quot;id\&quot;:3,\&quot;name\&quot;:\&quot;EmailAddress\&quot;}&quot;,&quot;validation&quot;:&quot;unknown&quot;,&quot;required&quot;:true,&quot;value&quot;:&quot;test@test.com&quot;,&quot;hasValue&quot;:true,&quot;requiresSave&quot;:true}" data-ixp-input-data-field="EmailAddress">
                                    <div class="ixp-component-textbox-input-wrap">
                                        <input id="ixp_input_iXqKgC8iM7kakOK7UoWZqHA" data-ixp-textbox-type="email" type="email" class="ixp-component-textbox-input" ng-model="user.emailAddress" maxlength="100" placeholder="* Email Address">
                                    </div>
                                    <script type="text/javascript" data-ixp-component-init=""></script>
                                </div>
                            </div>

                            <script type="text/javascript" data-ixp-component-init="">
                            </script>
                        </div>
                        <div id="ball_iecdqOFLR06wVY0P4KSLCw" data-ixp-component-root="iecdqOFLR06wVY0P4KSLCw" class="ixp-component-form-submit-button" data-ixp-behavior-scope-owner="iecdqOFLR06wVY0P4KSLCw">
                            <div id="ball_i46L43JTAJUaiTL4o8vtQHg" class="ixp-component-form-submit-button-container ixp-container">
                                <a ng-click="actions.submitForm()" href id="ball_iqtEvPY3dSkKnkw3omRX7g" data-ixp-behavior-form-submit="" data-ixp-behavior-scope-form-submit="i78kv1OOju0yNoix7jCDtMQ" class="ixp-link">

                                    <input type='hidden' id='LogToEloqua' name='LogToEloqua' value='ContactUs' />

                                    <img data-cke-saved-src="http://b30fed49c93271db9851-3af3f302ae0a24048c5a1a9e57b07633.r31.cf1.rackcdn.com/global/imagelib/buttons/landing-page-download-cta-dark-blue.png" src="http://b30fed49c93271db9851-3af3f302ae0a24048c5a1a9e57b07633.r31.cf1.rackcdn.com/global/imagelib/buttons/landing-page-download-cta-dark-blue.png">

                                </a>
                            </div>
                            <script type="text/javascript" data-ixp-component-init="">
                            </script>
                        </div>
                    </div>
                    <script type="text/javascript" data-ixp-component-init=""></script>
                </div>

            </div>
        </div>
    </div>
</div>
