<div class="wrapper micrositeWrapper">

	<div class="microSiteWrapper processesContent">
		<h1 class="micrositeWrapper__mainTitle">Case Study | Sembcorp Industries</h1>
		<h2 class="micrositeWrapper__subTitle">Sembcorp Refines Faster, More Efficient Workflows with K2</h2>
		<p class="micrositeWrapper__paragraphText">Learn how Sembcorp Industries, a leading global energy, water and marine group, reduced the time it took to create workflows and e-forms by 96% with K2.</p>

		<p class="micrositeWrapper__paragraphText">Sembcorp was in need of a robust, flexible workflow engine to effectively cater to their various processes. The solution also needed to be fully interoperable with their current Microsoft tools and development platform.</p>
		<p class="micrositeWrapper__paragraphText">The Sembcorp IT department selected K2, and working closely with K2’s consultants, transformed the company’s entire workflow development and management system.</p>
		<p class="micrositeWrapper__paragraphText">“Our IT team now has a dependable and robust workflow system, allowing us to develop workflows and forms with greater ease and speed today and in the future.” – Kuan Choon Cheit, Senior Manager, Group Information Technology, Sembcorp Industries</p>
	</div>

	<div class="microSiteWrapper processesButton">
		<!-- <button class="videoBtn" ng-click="downloadFile($event)">Download Case Study</button> -->
		<a href="/it/sembcorp-case-study-confirmation.html">Download Case Study</button>
		
		<!-- <button class="videoBtn" ng-click="downloadFile($event)">Download Our Case Study</button> -->
	</div>

</div>