<div class="wrapper micrositeWrapper">

	<div class="microSiteWrapper processesContent">
		<h1 class="micrositeWrapper__mainTitle">Case Study | Southwest Bank</h1>
		<h2 class="micrositeWrapper__subTitle">Southwest Bank Uses K2 Solutions to Deliver a Better Customer Experience and Faster Time to Revenue</h2>
		<p class="micrositeWrapper__paragraphText">One of Southwest Bank’s biggest issues was too many “black holes” in their business processes, including a lengthy document approval time. They needed a measured way to solve that issue, to identify where the bottlenecks were to alleviate frustration, and increase productivity all while improving the customer’s banking experience. 
</p>
		<p class="micrositeWrapper__paragraphText">Southwest Bank's commercial lending application process was the first project to begin development. K2 workflows are also being used in the Southwest Bank accounting department, including expense reports and corporate credit card reimbursement forms. Migrating from InfoPath to K2 smartforms has saved the team time and has opened more doors for the loan process, as people become more familiar with the new technology.
</p>
		<p class="micrositeWrapper__paragraphText">As the bank continues to grow, they are working to become more efficient across the board. For example, they receive thousands of documents each day. When they first started, the process involved paper being faxed over, printed and sent to the main office branch, then assigned to a loan. That SLA document approval process often took longer than a week. Now, it typically takes just under 2 hours.
</p>
		<p class="micrositeWrapper__paragraphText">What slow, manual sales processes can K2 help you transform?</p>
	</div>

	<div class="microSiteWrapper processesButton">
		<button class="videoBtn" ng-click="downloadFile($event)">Download Case Study</button>
		
		<!-- <button class="videoBtn" ng-click="downloadFile($event)">Download Our Case Study</button> -->
	</div>

</div>