<div class="micrositeWrapper">
	<h1 class="micrositeWrapper__mainTitle">THANKS FOR DOWNLOADING OUR CASE STUDY!</h1>
    
    <p class="micrositeWrapper__paragraphText">Thanks for downloading the <em>Kinross Gold Case Study</em>. The download process begins automatically, or you can view the case study <a href="/pdf-files/K2_Kinross_CaseStudy_A4_DIGITAL.pdf"> here</a>.
    </p>
</div>