<div class="wrapper micrositeWrapper">

	<div class="microSiteWrapper processesContent">
		<h1 class="micrositeWrapper__mainTitle">Case Study | Webroot Software</h1>
		<h2 class="micrositeWrapper__subTitle">Internet Security Company Uses K2 To Get New Employees Up and Running</h2>
		<p class="micrositeWrapper__paragraphText">Webroot had been using Microsoft SharePoint for basic content management and collaboration, but it had never built or implemented a workflow.
		</p>
		<p class="micrositeWrapper__paragraphText">“The driver was that Webroot needed to have a process that ensured 100-percent, day-one readiness for a new employee,” said Fabio Casti, principal at Caprivi Solutions. “We talked about what we could do within SharePoint and how we could get to where it wanted to go. That’s where Caprivi and K2 came in.”</p>
		<p class="micrositeWrapper__paragraphText">Onboarding a new employee is a complex process. It involves many people across multiple departments and includes sensitive personnel data that needs to be kept secure. Adding to the challenge are the short timeframes allowed to get everything set up before the new employee walks in the door.</p>
		<p class="micrositeWrapper__paragraphText">With a K2-based solution in place, cut employee set-up time from weeks to hours.</p>
	</div>

	<div class="microSiteWrapper processesButton">
		<button class="videoBtn" ng-click="downloadFile($event)">Download Case Study</button>
		
		<!-- <button class="videoBtn" ng-click="downloadFile($event)">Download Our Case Study</button> -->
	</div>

</div>